.jumbotron {
  padding-top: 8rem;
  padding-bottom: 0px;
  padding-bottom: 0;
  background-color: rgb(215, 215, 248);
  text-align: center;
}

.jumbotron img {
  width: 250px;
  margin-bottom: 10px;
}

html {
  background-color: #fff;
}

.AboutMe {
  text-align: center;
}

.projects {
  background-color: rgb(215, 215, 248);
  padding-top: 0px;
}

.card-text {
  color: black;
  text-decoration: none;
}

.lead {
  margin-bottom: 0;
  font-family: "DM Sans", sans-serif;
}

.teks-about {
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Overpass", sans-serif;
}

.contact-text {
  font-family: "Overpass", sans-serif;
}

.Headers-About,
.Headers-projects,
.Headers-contact {
  font-family: "Kanit", sans-serif;
}

.Headers-projects {
  text-align: center;
  padding-bottom: 30px;
}

.Headers-contact {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

#home {
  font-family: "DM Sans", sans-serif;
}

.logo {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: white;
}

.wrapper-project {
  text-decoration: none;
}

.linkNavigasi {
  font-family: "Exo 2", sans-serif;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 0px;
    padding-bottom: 0;
    background-color: rgb(215, 215, 248);
    text-align: center;
  }
  .jumbotron img {
    width: 200px;
  }
  .teks-about {
    font-size: 17px;
  }
}

.SuccessAlert {
  display: none;
}